body {
    background-color: #FFEEE7;
}


p {
	text-align:justify;
}

* {
    font-family: 'Arial';
}
 
h1 {
    font-family: 'Times New Roman';
}

h2 {
    font-family: 'Times New Roman';
}